// # Spinner
//
// Tobias Ahlin – SpinKit: cube grid
// – https://github.com/tobiasahlin/SpinKit
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

.spinner {}

.spinner__cell {
  width: 1 / 3 * 100%;
  height: 1 / 3 * 100%;
  animation: grid-scale-delay 1.3s infinite ease-in-out;

  &:nth-child(4),
  &:nth-child(8) {
    animation-delay: 0.1s;
  }

  &:nth-child(1),
  &:nth-child(5),
  &:nth-child(9) {
    animation-delay: 0.2s;
  }

  &:nth-child(2),
  &:nth-child(6) {
    animation-delay: 0.3s;
  }

  &:nth-child(3) {
    animation-delay: 0.4s;
  }
}

@keyframes grid-scale-delay {
  0%, 70%, 100% {
    transform: scale3D(1, 1, 1);
  } 35% {
    transform: scale3D(0, 0, 1);
  }
}
