// # Input
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

.input__field {
  &::placeholder {
    color: map-get($colors, 'silver');
  }
}

.input__label {
  &:empty {
    margin-bottom: 0;
  }
}

.input__error,
.input__tooltip {
  &:empty {
    margin-top: 0;
  }
}
